  <div class="footerr"><ul class="footLi"><li>bize ulaşın:033332211</li><li>instagram:@yemektarif</li><li>X:yemektarif</li></ul></div>
 <script src="first.js"></script>
     <script src="app.js"></script>
<script src="first.js"></script> 
<script src="main.js"></script> 
<script src="app.js"> 
</body>
</html>
