{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
    <title>index sayfası</title>
</head>
<body>
  <header class="head">
    <div class="container">
      <p>ortak hedaer</p>
      </div></header> --}}

{{!-- //header ve üst kısmı olduğu gibi header bölümüne alınır --}}
{{>header}}

{{{body}}}

{{>footer}}
{{!-- //footer ve alt kısmı olduğu gıbı ilgili bölüme alınır --}}
      {{!-- <footer class="foot"><div class="ftr"><p><li>tel:05051408399</li><li>mail adress:idilkaknds@gmail.com</li><li>instagram:ididlkands</li></p></div></footer>
</body>
</html> --}}