<div class="slidee">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/istockphoto-1208194075-612x612.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/tatlı1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/tatlı2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/tatlı1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/tatlı2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/istockphoto-1208194075-612x612.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/tatlı2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/istockphoto-1208194075-612x612.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/tatlı1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>


      
<div class="menu">
<btn class="foodbaslik" style="display: flex; position: relative;"> <h1  class="baslikP">Makarnalar</h1> </btn>
<div class="genelMenu" >
    <div class="ozel1">

<div class="card" id="boxx" style="width: 22rem; resize:none">
    <div id="img_box_2" class="img-div " id="i-div" style="width:100%" ><img  src="img/soyamak.jpg" class="card-img-top card-img"  style="width:100%"></div>
    <div class="card-body" style="width:100%;  padding:0%">
    <div class='titl' id="p-name-2" style="width: 100%;">  <h5 class="card_title2 card-title" style="width: 100%;">Soya Soslu Makarna</h5></div>
      <p class="card-text" id="p-content-2"> Yarım paket makarna.
        2 orta boy domates. <br>
        1 orta boy soğan. <br>
        2 yemek kaşığı sıvı yağ <br>
        2 yemek kaşığı soya sosu. <br>
        1 yemek kaşığı domates salçası <br>
        4-5 dal maydanoz. <br>
        Tuz, karabiber.   </p>
        <button class="btn btn-primary tarifeGit"> <a class='linkCss' href="ürün2.html" style="margin-left:27px; border:none">tarife git</a></button>
        <button name="2" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
        </div>
    </div>
      <div class="card" id="boxx"  style="width:22rem;">
            <div class="img-div" id="img_box_1" style="width:100%"><img src="img/pesto.jpg" style="width:100%" class="card-img-top" alt=""></div>
            <div class="card-body" >
            <div class='titl titlle'  id="p-name-1">  <h5 class="card_title1"> Pesto Soslu Makarna</h5></div>
              <p class="card-text" id="p-content-1">1/2paketyassı spaghetti.
                3/4su bardağıpesto <br>
                2yemek kaşığızeytinyağı<br>
                1/2su bardağıkrema(100 ml) <br>
                1çay kaşığıtuz. <br>
                1/2çay kaşığıkarabiber.</p>
              <button class="btn btn-primary tarifeGit" onclick="urun1Git();" href="ürün1.html" style="margin-left:27px; border:none"> <a class='linkCss' href="/ürün1.html">tarife git</a></button>
              <button name="1" class='btn btn-primary tarifEkle' style="margin-left:27px; border:none" onclick="alertFunction();"> <a >favori</a> </button>    
            </div>
          </div>
<div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_3" class="img-div"><img style="width:100%" src="img/beşamelmak.jpg" class="card-img-top" alt=""></div>
    <div class="card-body">
    <div class='titl titlle' id="p-name-3">  <h5 class="card_title3">Beşamel Soslu Makarna</h5></div>
      <p class="card-text" id="p-content-3"> Yarım paket makarna. <br>
        Tereyağ. <br>
        Un. <br>
        1 orta boy soğan. <br>
        2 yemek kaşığı sıvı yağ <br>
        2 yemek kaşığı soya sosu. <br>
        1 yemek kaşığı domates salçası <br>
        4-5 dal maydanoz. <br>
        Tuz, karabiber.   </p>
        <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href="ürün3.html">tarife git</a></button>
        <button name="3" class='btn btn-primary tarifEkle' style="margin-left:27px; border:none" onclick=""> <a >favori</a> </button>    
      </div>
    </div>
<div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_4" class="img-div"><img style="width:100%" src="img/tavuklumak.jpg" class="card-img-top" alt=""></div>
    <div class="card-body">
    <div class='titl titlle' id="p-name-4">  <h5 class="card_title4">Soya Soslu Makarna</h5></div>
      <p class="card-text" id="p-content-4"> Yarım paket makarna. <br>
        Tavuk. <br>
        1 orta boy soğan. <br>
        2 yemek kaşığı sıvı yağ <br>
        2 yemek kaşığı soya sosu. <br>
        1 yemek kaşığı domates salçası  <br>
        4-5 dal maydanoz. <br>
        Tuz, karabiber.   </p>
      <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
      <button style="margin-left:27px; border:none" name="4" class='btn btn-primary tarifEkle' onclick=""> <a >favori</a> </button>    
    </div></div></div></div>
          
    <btn class="foodbaslik2"><h1 class="baslikP">Tatlılar</h1> </btn>
                <div class="genelMenu2">
                    <div class="ozel2">

<div class="card" id="boxx" style="width: 22rem;">
  <div id="img_box_5" class="img-div"><img  style="width:100%" src="img/tatlı1.jpg" class="card-img-top" alt=""></div>
  <div class="card-body">
  <div class='titl titlle' id="p-name-100">  <h5 class="card_title100"> San Sebastian</h5></div>
    <p class="card-text" id="p-content-5">1/2paketyassı spaghetti. <br>
      3/4su bardağıpesto sos. <br>
      2yemek kaşığızeytinyağı <br>
      1/2su bardağıkrema(100 ml) <br>
      1çay kaşığıtuz. <br>
      şeker</p>
      <button class="btn btn-primary tarifeGit" onclick="ürün4Git();" style="margin-left:27px; border:none"> <a class='linkCss' href="ürün4.html">tarife git</a></button>
      <!-- <button class="btn btn-primary tarifeGit" onclick=""> <a class='linkCss' href="ürün4.html">tarife git</a></button> -->
    <button name="5" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
  </div>
</div>





<div class="card" id="boxx" style="width: 22rem;">
<div id="img_box_6" class="img-div"><img  src="img/tatlı2.jpg" style="width:100%" class="card-img-top" alt=""></div>
<div class="card-body">
<div class='titl titlle' id="p-name-6">  <h5 class="card_title6">Yaş Pasta</h5></div>
<p class="card-text" id="p-content-101"> Yarım paket makarna. <br>
İstenilen meyve <br>
1 orta boy soğan. <br>
2 yemek kaşığı sıvı yağ <br>
2 yemek kaşığı soya sosu. <br>
1 yemek kaşığı domates salçası <br>
4-5 dal maydanoz. <br>
Tuz, karabiber.   </p>
<button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>

<button name="6" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
</div>
</div>


<div class="card" id="boxx" style="width: 22rem;">
  <div id="img_box_7" class="img-div"><img  src="img/tatlı3.jpg" class="card-img-top" style="width:100%" alt=""></div>
  <div class="card-body">
  <div class='titl titlle' id="p-name-7">  <h5 class="card_title7">Mangnolia</h5></div>
  <p class="card-text" id="p-content-7"> Yarım paket makarna. <br>
  2 orta boy domates. <br>
  1 orta boy soğan. <br>
  2 yemek kaşığı sıvı yağ <br>
  2 yemek kaşığı soya sosu. <br>
  1 yemek kaşığı domates salçası <br>
  4-5 dal maydanoz. <br>
  Tuz, karabiber.   </p>
  <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
  
  <button name="7" class='btn btn-primary tarifEkle' style="margin-left:27px; border:none" onclick=""> <a >favori</a> </button>    
  </div>
  </div>









  <div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_8" class="img-div"><img  src="img/tatlı4.jpg" class="card-img-top" alt="" style="width:100%"></div>
    <div class="card-body" >
    <div class='titl titlle' id="p-name-8">  <h5 class="card_title8">Cream Burlee</h5></div>
    <p class="card-text" id="p-content-8"> Yarım paket makarna. <br>
    Krem şanti <br>
    1 orta boy soğan. <br>
    2 yemek kaşığı sıvı yağ <br>
        2 yemek kaşığı soya sosu. <br>
             1 yemek kaşığı domates salçası <br>
    4-5 dal maydanoz. <br>
    Tuz, karabiber.   </p>
    <button style="margin-left:27px; border:none" class="btn btn-primary tarifeGit"> <a class='linkCss' href=${link}>tarife git</a></button>
    
    <button name="8" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
    </div>
    </div>



    </div></div>


       
<div class="foodbaslik3"> <h1 class="baslikP">Ana Yemekler</h1></div>
<div class="genelMenu3">
  <div class="ozel3">


    <div class="card" id="boxx" style="width: 22rem;">
      <div id="img_box_9" class="img-div"><img  src="img/anayemek1.jpg" class="card-img-top" alt="" style="width:100%"></div>
      <div class="card-body" >
      <div class='titl titlle' id="p-name-9">  <h5 class="card_title9">Mantar Sote</h5></div>
      <p class="card-text" id="p-content-9">
         
       2 paket mantar (1 kg) <br> 
       2 adet kuru soğan. <br>
       4-5 adet çarliston biber. <br>
       1 diş sarımsak. <br>
         2 adet domates.  <br>
                   1 yemek kaşığı tereyağı <br>
            Yarım çay bardağı kadar sıvı yağ  <br>
              Tuz, karabiber ve pul biber. 
       </p>
      <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
      
      <button name="9" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
      </div>
      </div>
  






      
  <div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_10" class="img-div"><img  src="img/anayemek2.jpg" class="card-img-top" style="width:100%" alt=""></div>
    <div class="card-body" >
    <div class='titl titlle' id="p-name-10">  <h5 class="card_title10">Kremalı Somon</h5></div>
    <p class="card-text" id="p-content-10">1 kilo dilimlenmiş somon <br>
      Zeytinyağ <br>
      2 yemek kaşığı tereyağı <br>
      1 yemek kaşığı un <br>
      1 paket krema <br>
      3 diş sarımsak <br>
      Dereotu <br>
      Az karabiber
  
    </p>
    <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
    
    <button name="10" class='btn btn-primary tarifEkle' onclick="" style="margin-left:27px; border:none"> <a >favori</a> </button>    
    </div>
    </div>




    
  <div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_11" class="img-div"><img  src="img/anayemek3.jpg" class="card-img-top" alt="" style="width:100%"></div>
    <div class="card-body" >
    <div class='titl titlle' id="p-name-11">  <h5 class="card_title11">Latke</h5></div>
    <p class="card-text" id="p-content-11"> 
      3 adet patates(orta boy) (700-800 g) <br>
      1 adet yumurta. <br>
      5 yemek kaşığı (silme)mısır nişastası <br>
      1çay bardağıayçiçek yağı(kızartmak için) 
    </p>
    <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
    
    <button style="margin-left:27px; border:none" name="11" class='btn btn-primary tarifEkle' onclick=""> <a >favori</a> </button>    
    </div>
    </div>




    
  <div class="card" id="boxx" style="width: 22rem;">
    <div id="img_box_12" class="img-div"><img  src="img/anayemek4.jpg" class="card-img-top" alt="" style="width:100%"></div>
    <div class="card-body" >
    <div class='titl titlle' id="p-name-12">  <h5 class="card_title12">Taco</h5></div>
    <p class="card-text" id="p-content-12"> 
      
      8 taco kabuğu veya küçük yuvarlak lavaş <br>
      1 su bardağı Meksika fasulyesi. <br>
      1/2 (yarım) su bardağı mısır tanesi. <br>
      300 gr kıyma. <br>
      2-3 yemek zeytinyağı <br>
      1 domates. <br>
      4 yaprak kıvırcık. <br>
       1/2 (yarım) kırmızı soğan.
    </p>
    <button class="btn btn-primary tarifeGit" style="margin-left:27px; border:none"> <a class='linkCss' href=${link}>tarife git</a></button>
    
    <button name="12" class='btn btn-primary tarifEkle' style="margin-left:27px; border:none" onclick=""> <a >favori</a> </button>    
    </div>
    </div>



  </div>
</div>

  
    </div>
    <script>

    </script>
  
{{!-- <script src="first.js"></script> 
<script src="main.js"></script> 
<script src="app.js">  --}}
