<div class="sekil">
   <h1 style="margin-left: 100px; color:rgb(238, 180, 159)">giriş</h1>
  <form action="/login"  method="POST" enctype="application/json">
        {{!-- <div class="form-group">
           <input type="text" id="username"  placeholder="kullanıcı adı giriniz..">
           
          </div> --}}
        <div class="form-group">
          <label class="labe" style="width: 180px; background-color:rgb(238, 180, 159); border-radius:20px" for="">Email adresiniz</label><br>
          <input type="email" name="email"  placeholder="email giriniz..">
        
        </div>
        <div class="form-group">
           <label class="labe" style="width: 180px; background-color:rgb(238, 180, 159); border-radius:20px" for="">Şifreniz</label><br>
         <input type="password" name="password" placeholder="şifre giriniz..">
        </div>
       
        <button style="justify-content: center;" type="submit" id="sendLoginButton" class="btn btn-primary label" >Giriş Yap</button>
      </form>
<br>
<br><br><br>
</div>